@model FlyHighStreamlineCapstone.ViewModel.FlightViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FlightViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <input asp-for="FlightNo" class="form-control" />
                <span asp-validation-for="FlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureAirportId" class="control-label"></label>
                <select asp-for="DepartureAirportId" class="form-control" asp-items="ViewBag.DepartureAirportId">
                    <option value="">-- Select Airline --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalAirportId" class="control-label"></label>
                <select asp-for="ArrivalAirportId" class="form-control" asp-items="ViewBag.ArrivalAirportId">
                    <option value="">-- Select Airline --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AirlineId" class="control-label"></label>
                <select asp-for="AirlineId" class="form-control" asp-items="ViewBag.AirlineId">
                    <option value="">-- Select Airline --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AircraftId" class="control-label"></label>
                <select asp-for="AircraftId" class="form-control" asp-items="ViewBag.AircraftId">
                    <option value="">-- Select Airline --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
